.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.skills-info {
  width: 100%;
  margin: 50px 0px 50px 0px;
}
#skills {
  justify-content: center;
}
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#skills-container {
  margin: 0px 15px;
  width: 100%;
}
