/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
#name_display, #title_display {
    margin: 12px 0px;
}

.banner-text {
  margin-top: 200px;
}
#headshot {
  float: right;
  vertical-align: middle;
  height: 470px;
  padding: 40px 0px;
}

.submit-button {
  padding-bottom: 5px;
}

.contact-right {
  margin: 0px 0px 60px 0px;
}
.alert {
  display: none;
}
#banner_container {
  min-height: 500px;
  max-width: 910px;
}

#skills-container {
  padding-left: 0px;
}

.link_logo {
  width: 100px;
  margin: 0px 10px 0px 0px;
}

.portfolio {
  padding: 50px 0px 50px 0px;
}

.banner {
}

@media screen and (min-width: 600px) {
  #about_container {
    padding-left: 125px;
    padding-right: 125px;
  }
}

#contact {
    /*background-color: skyblue;*/
    padding: 50px 0px;
}

.github-icon {
  width:20px;
  margin: 15px;
}


#summary {
  width: 100%;
}

#port-item {
  width: 300px;
  height: 375px;
  background-color: #b0cfd1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.port-container {
  margin: 10px 10px;
}

.port-title {
  color: #595959;
  margin: 0px 5px;
}

.port-description {
  color: #595959;
}

.gallery-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mdl-card {
}

.screenshot {
  width: 300px;
  height: 225px;
  padding: 10px 10px 0px 10px;
}

/*.contact-grids {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}*/

html, body{
    font-size: 20px !important;
	background:	#fff;
	font-family: 'Open Sans', sans-serif !important;
}
body a{
		transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
        margin-bottom: 0;
}
.navbar {
    padding-top: 5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.navbar-nav {
    margin-left: 47px;
}
.navbar-nav > li {
    float: left;
    margin: 0 12px;
}
.navbar-nav > li > a {
    padding: 9px 16px;
}
.header {
    padding: .6em 0;
}
.logo {
    width: 23%;
    float: left;
    text-align:center;
}
.logo a h1{
   font-family: 'Berkshire Swash', cursive;
    margin-top: 0px;
    width: 56%;
    font-size: 3.1em;
    margin-bottom: 0;
    color: #000;
    font-weight: 100;
}
.navigation {
    float: right;
}
.search-bar {
    width: 21%;
    float: right;
    position: relative;
    margin: 10px auto 0;
}
.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 45px 8px 8px;
    border: 1px solid rgba(255, 255, 255, 0.72);
    background: none;
    display: inline-block;
    outline: none;
    -webkit-appearance: none;
    vertical-align: -webkit-baseline-middle;
    color: #999;
    font-size: 0.875em;
}
.search-bar input[type="submit"] {
    background: url(../images/search.png)no-repeat 0px 0px;
    outline: none;
    -webkit-appearance: none;
    border: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 7px;
    left: 206px;
}

/* Effect 7: second border slides up */
.cl-effect-7 a {
	padding: 12px 10px 10px;
	color: #566473;
	text-shadow: none;
	font-weight: 700;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	    height: 2px;
	    background: rgba(212, 212, 212, 0.57);
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: scale(0.85);
	-moz-transform: scale(0.85);
	transform: scale(0.85);
}

.cl-effect-7 a::after {
	opacity: 0;
	-webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
	top: 0%;
	opacity: 1;
}
/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
      background: #fff;
padding: 12px 19px;
    font-size: 14px;
    color: #999;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #999;
  color:#fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover, .hvr-bounce-to-right:focus, .hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, .hvr-bounce-to-right:focus:before, .hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Bottom */
.hvr-bounce-to-bottom {
display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    font-size: 14px;
    border: none;
    background-color: #999;
    color: #fff;
    padding: 8px 12px;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c58ed;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.banner {

    background-size: cover;
    min-height: 500px;
    position: relative;
}
.banner-imagefo{
    background: url(../images/banner-image.jpg)no-repeat 150px 0px;
    background-size: 300px 450px;
    opacity: .9;
    width: 500px;
    height: 400px;
    margin: 5% !important;
    float: right;
}
.banner-text{
/*position: absolute;
    top: 230px;
    left: 75px;*/
}
.banner-text h1 {
font-size: 2.6em;
    color: #595959;
    /*margin: 0;
    text-transform: uppercase;*/
}
.banner-text h2 {
    font-size: 1.3em;
    color: #595959;
    /*margin: 13px 0 23px;*/
    font-style: italic;
    /*border-top: 3px solid#fff;*/
    /*width: 73%;
    padding-top: 10px;*/
    font-weight: 100;
}

/*-- about --*/
.about{
	padding:50px;
}
.head-section h2{
	font-weight: 900;
	color: #595959;
	font-size: 2.3em;
	text-transform: uppercase;
	margin: 0;
	padding: 0 0 0.4em;
}
.head-section span{
	width:8%;
	margin:0 auto;
	background:#D8D8D8;
	display:block;
	height:7px;
}
.about-left-grid h3{
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:700;
	color:#595959;
	font-size:1.5em;
}
.about-left-grid span{
	margin:0.5em 0;
	padding:0;
	display:block;
	text-transform:uppercase;
	font-weight:600;
	color:#595959;
	font-size:1em;
}
.about-left-grid p{
	color:#7c7c7c;
	font-size:0.9em;
	line-height:1.9em;
	margin:0;
	margin-top:1em;
}
.about-right-grid img{
	width:100%;
}
.about-grids{
	margin-top:40px;
}

.about-grids p {
  text-align: justify;
}
/*--/ABOUT--*/
/*--details--*/
.bottom-grid {
    padding: 2em 0;
}
.bottom-grid {
    padding: 2em 0;
}
.bottom-grid-right {
    padding: 0 0 0 30px;
}
.bottom-grid h3 {
    color: #000;
    font-size: 2.3em;
    font-weight: 700;
    margin-bottom: 2em;
}
.grids {
    margin-top: 4.5em;
}
.year {
    float: left;
    width: 17%;
    margin-right: 5%;
    background: #D8D8D8;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    padding: 1.6em 0;
}
.qualification {
    float: left;
    width: 77%;
}
.qualification h4 {
    color: #000000;
        font-size: 1.8em;
    font-weight: 400;
    margin-bottom: 0.5em;
}
.qualification p {
    color: #999999;
    font-size: 1.4em;
    font-weight: 300;
}
.year2 {
    background: #2c58ed;
}
.year h5 {
    color: #fff;
    font-size: 1.8em;
    font-weight: 600;
}
/*--/details--*/
/*--skills--*/
.skills-info h3 {
    font-weight: 900;
    color: #595959;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0.4em;
    text-align: center;
}
.skills-info span {
    width: 8%;
    margin: 0 auto 1.3em;
    background: #D8D8D8;
    display: block;
    height: 7px;
}
/*.skills {
     margin: 6em 0 5em;
}*/
.grid_2 h3 {
  text-transform: uppercase;
  color: #A7A9AC;
  font-size: 22px;
  font-weight: 400;
  line-height: 4px;
  margin: 0;
  padding: 0 0 .5em;
}
.body-pic {
  text-align: center;
    position: relative;
}
.study2 h4 {
  padding-bottom: 9px;
  font-size: 1.2em;
  color: #000;
}
.progress-bar {
  -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, .15) !important;
  box-shadow: inset 0 0px 0 rgba(0, 0, 0, .15) !important;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}
.progress {
  background-color: #F2F1F1 !important;
  border-radius: 0px !important;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1) !important;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1) !important;
}
.progress-bar-success {
  background-color: #2c58ed;
}
.progress-bar-info {
  background-color: #2c58ed;
}
.progress-bar-warning {
  background-color: #2c58ed;
}
.progress-bar-danger {
  background-color: #2c58ed;
}
/*--/skills--*/
/*--portfolio--*/

.galry-grids {
  padding: 2px;
}
.galry-grids img {
  width: 100%;
}
/*----- Strip -----*/
.b-link-stripe{
	position:relative;
	display:block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
img.img-responsive.glry-img {
  width: 100%;
}
/*------Animation effects------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
}
.b-animate img{
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: absolute;
	top: 43%;
    left: -100%;
}
.b-animate-go:hover .b-from-left{
	left: 43%;
}
.b-wrapper:hover {
    background: rgba(44, 88, 237, 0.59);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.body-pic-bottom {
  background-color: #B9CFED;
  width: 100%;
  height: 270px;
  position: absolute;
  bottom: -93px;
  z-index: -12;
}
/*--contact-form--*/
.contact {
  /*margin-bottom: 8em;*/
}
.content_middle_bottom {
  padding: 8em 0 0 0;
}
.tz-title-3 {
  display: block;
  color: #A7A9AC;
  font-size: 35px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 24px 0;
  position: relative;
  text-align: center;
  letter-spacing: 0px;
  font-family: 'Signika', sans-serif;
  font-style: italic;
}
.content_middle_bottom h4 {
  color: #555;
  font-size: 1em;
  line-height: 1.5em;
  width: 50%;
  margin: 0 auto 3em auto;
  text-align: center;
  font-weight: 400;
}
.grid_2 input[type="text"] {
  padding: 15px 0;
  width: 90%;
    font-size: 1em;
  margin: 10px 0;
  color: #999;
  background: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #D4D4D4;
  border-top: none;
  border-left: none;
  border-right: none;
}
.grid_2 textarea {
  background: none;
  display: block;
  width: 90%;
  padding: 15px 0;
  border-bottom: 1px solid #D4D4D4;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  margin: 3px 0;
  font-size: 1em;
  color: #999;
  height: 100px;
  resize: none;
}
.map iframe {
  border: none;
  width: 100%;
  height: 328px;
}
.grid_2 input[type="submit"] {
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  background: #b9cfed;
  padding: 10px 40px;
  margin-top: 2em;
  	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.grid_2 input[type="submit"]:hover {
  background: #000;
  	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.portfolio h3 {
    font-weight: 900;
    color: #595959;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0.4em;
    text-align: center;
}
.portfolio span{
    width: 8%;
    margin: 0 auto 1.3em;
    background: #D8D8D8;
    display: block;
    height: 7px;
}
/*--/portfolio--*/

/*-- contact --*/
.contact{
padding:60px 0 0 0;
}
.contact-info h3 {
    font-weight: 900;
    color: #595959;
    font-size: 2.3em;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0.4em;
    text-align: center;
  }
.contact-info span{
	    width: 8%;
    margin: 0 auto;
    background: #D8D8D8;
    display: block;
    height: 7px;
}
.contact-grids{
margin-top:50px;
}
.contact-grids h3 {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 25px 0;
  }
.stripb{
background:#2b2b2b;
width:30%;
height:1px;
margin: 0 0 40px 0;
}
.contact-left ul{
margin: 0px 0 0 0;
padding:0;
}
.contact-left ul li{
list-style-type:none;
font-size:18px;
color:#595959;
font-weight:500;
line-height:1.8em;
font-family: 'Lato', sans-serif;
}
.contact-left ul li a{
text-decoration:none;
color:#595959;
}
.contact-left ul li a:hover{
color:#2c58ed;
}
.contact-left ul li:nth-child(4) {
font-size:20px;
  margin: 30px 0;
  font-weight: 800;
}
.contact-left ul li:nth-child(6) {
  margin: 30px 0 0 0;
  font-weight: 800;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover {
border:3px solid #595959;
		transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right input[type="email"]:hover,.contact-right textarea:hover {
border:3px solid #595959;
		transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right input[type="text"] {
  border: 3px solid rgba(0, 0, 0, 0.07);
  border-radius:2px;
  font-family: 'Lato', sans-serif;
	width: 47.65%;
	outline: none;
	padding: 14px;
	font-size: 18px;
	font-weight:300;
	margin: 0 24px 24px 0;
			transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right input[type="email"] {
  border: 3px solid rgba(0, 0, 0, 0.07);
  border-radius:2px;
  font-family: 'Lato', sans-serif;
	width: 47.65%;
	outline: none;
	padding: 14px;
	font-size: 18px;
	font-weight:300;
	margin: 0 24px 24px 0;
			transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right textarea {
    border: 3px solid rgba(0, 0, 0, 0.07);
border-radius:2px;
font-family: 'Lato', sans-serif;
	width: 100%;
	height: 200px;
	outline: none;
	font-weight:300;
	font-size: 18px;
	resize: none;
	padding: 14px;
	margin-bottom: 24px;
			transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right input[type="text"]:nth-child(2),.coment-form input[type="text"]:nth-child(2){
margin-right:0;
}
.contact-right input[type="email"]:nth-child(2),.coment-form input[type="email"]:nth-child(2){
margin-right:0;
}
.contact-right form input[type="submit"] {
font-family: 'Lato', sans-serif;
  /*background: url(../images/mess.png) no-repeat 81px 14px;*/
  width: 49%;
  border-radius: 4px;
  height: 52px;
  font-size: 20px;
  font-weight: 800;
  padding: 0;
     border: 3px solid rgba(0, 0, 0, 0.07);
     		transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.contact-right form input[type="submit"]:hover {
 border: 3px solid #2c58ed;
 color:#2c58ed;
 		transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
.resume{
background:#eeeeee;
padding:32px 0 60px 0;
}
.resume a{
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  background: #f1c40f;
  padding: 16px 30px;
  border-radius:4px;
  border-bottom:2px solid #b8950a;
}
.resume a:hover{
color:#fff;
}
.down{
  margin-top: 50px;
}
/*-- contact --*/
/*--footer--*/
.copy {
    background: skyblue;
    padding: 2em 0;
    text-align: center;
}
.copy p {
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.copy p a {
    color: #fff;
}
.copy p a:hover {
    color: #999;
}
/*--/footer--*/
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/arrow.png") no-repeat 0px 0px;
}
/*-- responsive-design --*/
@media only screen and (max-width:1440px) {
	.banner-text {
	    /*left: 15em;*/
	}
}
@media only screen and (max-width:1366px) {
	.banner-text {
	    /*left: 50px;*/
	}
}
@media only screen and (max-width:1280px) {

}
@media only screen and (max-width:1024px) {
	.navbar-nav {
	    margin-left: -42px;
	}
	.search-bar input[type="submit"] {
	    left: 164px;
	}
	.banner-text h1 {
	    font-size: 2.1em;
	}
	.banner {
	    min-height: 500px;
	}
	.banner-imagefo {
	    margin: 12% auto 0;
	        width: 432px;
	}
	.banner-text {
	    /*left: 5em;*/
	    /*top: 15em;*/
	}
	.banner-text h2 {
	    font-size: 1.1em;
	}
	.hvr-bounce-to-right {
	    padding: 13px 20px;
	    font-size: 12px;
	}
	.year {
		    width: 17%;
		}
	.year h5 {
	    font-size: 1.1em;
	}
	.qualification h4 {
	    font-size: 1.6em;
	}
	.contact-right input[type="text"] {
	    width: 49%;
	    font-size: 18px;
	    margin: 0 6px 13px 0;
	}
	.contact-right input[type="email"] {
	    width: 49%;
	    font-size: 18px;
	    margin: 0 6px 13px 0;
	}
	.contact-right textarea {
	    margin-bottom: 6px;
	}
}
@media only screen and (max-width:800px) {
	.navbar-nav > li {
	    margin: 0 0px;
	}
	.logo {
	    width: 21%;
	    float: left;
	    text-align: left;
	        margin-top: 3px;
	}
	.logo a h1 {
	    width: 100%;
	    font-size: 2.5em;
	}
	.navigation {
	    width: 57%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    padding: 0;
	}
	.navbar {
	    padding-top: 6px;
	}
	.navbar-nav {
	    margin-left: 7px;
	}
	.search-bar input[type="text"] {
	    padding: 8px 32px 8px 8px;
	}
	.search-bar input[type="submit"] {
	    left: 123px;
	}
	.banner-imagefo {
	    background-size: 100%;
	        width: 364px;
	            height: 290px;
	}
	.banner {
	    min-height: 358px;
	}
	.banner-text {
	    /*left: 2em;
	    top: 10em;*/
	}
	.about {
	    padding: 3em 0 1em;
	}
	.about-left-grid {
	    width: 51%;
	    float: left;
	}
	.about-right-grid img {
	    width: 48%;
	    float: left;
	}
	p.p-text {
	    display: none;
	}
	.year {
	    width: 15%;
	        margin-right: 3%;
	}
	.qualification h4 {
	    font-size: 1.1em;
	}
	.qualification p {
	    font-size: 1em;
	}
	.bottom-grid-right {
	    padding: 0 0 0 0px;
	    width: 50%;
	    float: left;
	}
	.bottom-grid-left {
	    float: left;
	    width: 50%;
	}
	.year {
	    width: 20%;
	}
	/*.skills {
	    margin: 3em 0 3em;
	}*/
  #skill {
    color: #595959;
  }
	.galry-grids {
	    padding: 2px;
	    width: 33.3333%;
	    float: left;
	}
	.contact-left {
	    /* width: 40%; */
	    float: left;
      padding-bottom: 40px;
	}
	.contact-right {
	    float: left;
	    /* width: 60%; */
	}
	.contact-right input[type="text"] {
	    /* width: 48%; */
	    margin: 0 11px 13px 0;
      /* padding-top: 10px; */
	}
	.contact-right input[type="email"] {
	    width: 48%;
	    margin: 0 11px 13px 0;
	}
	.contact {
	    margin-bottom: 3em;
	}

  .contact-grids {
    display: flex;
    flex-direction: column;
  }
	.bottom-grid h3 {
	    margin-bottom: 0;
	}
	.grids {
	    margin-top: 2.5em;
	}
		.head-section h2 {
  	  font-size: 2em;
    }
    	.bottom-grid h3 {
	    font-size: 1.8em;
    }
        .skills-info h3 {
   	 font-size: 2em;
    }
        .portfolio h3 {
   		 font-size: 2em;
    }
    .contact-info h3 {
    font-size: 2em;
    }
}
@media only screen and (max-width:768px) {
	.navbar-nav > li {
	    margin: 0 0px;
	}
	.bottom-grid h3 {
	    font-size: 1.8em;
    }
    .contact-info h3 {
   	 font-size: 2em;
    }
	.head-section h2 {
  	  font-size: 2em;
    }
    .portfolio h3 {
   		 font-size: 2em;
    }
    .skills-info h3 {
   	 font-size: 2em;
    }
	.logo {
	    width: 21%;
	    float: left;
	    text-align: left;
	        margin-top: 3px;
	}
	.logo a h1 {
	    width: 100%;
	    font-size: 2.5em;
	}
	.navigation {
	    width: 57%;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    padding: 0;
	}
	.navbar {
	    padding-top: 6px;
	}
	.navbar-nav {
	    margin-left: 7px;
	}
	.search-bar input[type="text"] {
	    padding: 8px 32px 8px 8px;
	}
	.search-bar input[type="submit"] {
	    left: 123px;
	}
	.banner-imagefo {
	    background-size: 100%;
	        width: 364px;
	            height: 290px;
	}
	.banner {
	    min-height: 358px;
	}
	.banner-text {
	    /*left: 2em;
	    top: 10em;*/
	}
	.about {
	    padding: 3em 0 1em;
	}
	.about-left-grid {
	    width: 51%;
	    float: left;
	}
	.about-right-grid img {
	    width: 48%;
	    float: left;
	}
	p.p-text {
	    display: none;
	}
	.year {
	    width: 15%;
	        margin-right: 3%;
	}
	.qualification h4 {
	    font-size: 1.1em;
	}
	.qualification p {
	    font-size: 1em;
	}
	.bottom-grid-right {
	    padding: 0 0 0 0px;
	    width: 50%;
	    float: left;
	}
	.bottom-grid-left {
	    float: left;
	    width: 50%;
	}
	.year {
	    width: 20%;
	}
	/*.skills {
	    margin: 3em 0 3em;
	}*/
	.galry-grids {
	    padding: 2px;
	    width: 33.3333%;
	    float: left;
	}
	.contact-left {
	    /* width: 40%; */
	    float: left;
	}
	.contact-right {
	    float: left;
	    /* width: 60%; */
	}
	.contact-right input[type="text"] {
	    width: 48%;
	    margin: 0 11px 13px 0;
	}
	.contact-right input[type="email"] {
	    width: 48%;
	    margin: 0 11px 13px 0;
	}
	.contact {
	    margin-bottom: 3em;
	}
	.bottom-grid h3 {
	    margin-bottom: 0;
	}
	.grids {
	    margin-top: 2.5em;
	}
}
@media only screen and (max-width:667px) {
	.search-bar input[type="submit"] {
	    left: 107px;
	}
}
@media only screen and (max-width:640px) {
	.navbar-nav {
	    margin-left: 0;
	    margin: 0;
	}
			.head-section h2 {
  	  font-size: 1.8em;
    }
    	.bottom-grid h3 {
	    font-size: 1.8em;
    }
        .skills-info h3 {
   	 font-size: 1.8em;
    }
        .portfolio h3 {
   		 font-size: 1.8em;
    }
    .contact-info h3 {
    font-size: 1.8em;
    }
	.navbar-nav > li {
	    margin: 0 0px;
	    float: none;
	    display: inline;
	    text-align: right;
	}
	.navbar-collapse.in {
	    overflow-y: hidden;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	    border-color: rgba(231, 231, 231, 0);
	}
	.navigation {
    width: 13%;
    /* margin-left: 7em; */
	}
	.search-bar {
	    width: 29%;
	}
	.search-bar input[type="submit"] {
	    left: 143px;
	}
	.banner-imagefo {
	    margin: 12% auto 1px 198px;
	}
	.head-section span {
	    width: 20%;
	}
	.contact-right input[type="text"] {
	    width: 48%;
	    margin: 0 8px 13px 0;
	}
	.contact-right input[type="email"] {
	    width: 48%;
	    margin: 0 8px 13px 0;
	}
	.contact-left ul li:nth-child(4) {
	    font-size: 17px;
	}
	.skills-info span {
	    width: 16%;
	}
	.portfolio span {
	    width: 25%;
	}
	.contact-info span {
	    width: 22%;
	}
}
@media only screen and (max-width:568px) {
	.banner-imagefo {
	    margin: 12% auto 1px 168px;
	}
	.search-bar input[type="submit"] {
	    left: 121px;
	}
}
@media only screen and (max-width:480px) {
	.search-bar input[type="submit"] {
	    left: 99px;
	}
	.about-left-grid h3 {
	    font-size: 1.2em;
	}
	.banner-text h1 {
	    font-size: 1.5em;
	}
	.banner-text h2 {
	    /*width: 79%;*/
	}
	.hvr-bounce-to-right {
	    padding: 13px 15px;
	    font-size: 12px;
	}
	.banner-imagefo {
	    background-size: 100%;
	    width: 251px;
	        height: 199px;
	}
	.banner-imagefo {
	    margin: 29% auto 1px 194px;
	}
	.about-left-grid {
	    width: 100%;
	    float: none;
	}
	.about-right-grid img {
	    width: 100%;
	    float: none;
	    margin-top: .9em;
	}
	.about-grids {
	    margin-top: 2em;
	}
	.bottom-grid-left {
	    float: none;
	    width: 100%;
	}
	.grids {
	    margin-top: 2em;
	}
	.bottom-grid h3 {
	    color: #717171;
	    margin-bottom: 0em;
	}
	.bottom-grid-right {
	    width: 100%;
	    float: none;
	    margin-top: 4em;
	    padding: 0 15px;
	}
	.contact-left {
	    width: 100%;
	    float: none;
	}
	.contact-right {
	    float: none;
	    width: 100%;
	        margin-top: 3em;
	}
	.contact-left ul li:nth-child(6) {
	    margin: 6px 0 0 0;
	}
	.contact-left ul li:nth-child(4) {
	    margin: 3px 0;
	}
	.logo {
	    width: 30%;
	}
	.navigation {
	    width: 18%;
	    /* margin-left: 3em; */
	}
	.banner {
	    min-height: 315px;
	}
	.copy p {
	    line-height: 1.8em;
	}
}
@media only screen and (max-width:414px) {
	.search-bar input[type="submit"] {
	    left: 77px;
	}
	.banner-imagefo {
  	  margin: 29% auto 1px 89px;
	}
	.logo a h1 {
	    font-size: 2.2em;
	}
}
@media only screen and (max-width:375px) {
	.search-bar input[type="submit"] {
	    left: 77px;
	}
	.banner-imagefo {
  	  margin: 29% auto 1px 89px;
	}
	.logo a h1 {
	    font-size: 1.9em;
	}
}
@media only screen and (max-width:320px) {
	.logo a h1 {
	    font-size: 1.8em;
	}
	.logo {
	    width: 33%;
	}
	.navbar-toggle {
	    padding: 6px 6px;
	    margin-top: 0px;
	        margin-right: -12px;
	    margin-bottom: 0px;
	}
	.navigation {
	    width: 30%;
	    margin-left: 0em;
	}
	.navbar-nav > li > a {
	    padding: 10px 0px;
	}
	.cl-effect-7 a::before, .cl-effect-7 a::after {
	    left: 0px;
	}
	.search-bar input[type="text"] {
	    font-size: 14px;
	        padding: 8px 19px 8px 8px;
	}
	.navbar-header {
	    width: 59%;
	}
	.search-bar {
	    width: 37%;
	        margin: 3px auto 0;
	}
	.search-bar input[type="submit"] {
	    left: 83px;
	    background-size: 68%;
	    top: 10px;
	}
	.navbar-collapse.in {
	    overflow-y: inherit;
	}
	.banner-imagefo {
	    margin: 29% auto 1px 113px;
	}
	.banner-imagefo {
	    background-size: 100%;
	    width: 160px;
	    height: 125px;
	}
	.banner-text h1 {
	    font-size: 1em;
	}
	.banner-text {
	    /*left: 1em;
	    top: 6em;*/
	}
	.banner-text h2 {
	    /*width: 92%;*/
	    font-size: .785em;
	    line-height: 1.4em;
	    /*margin: 4px 0 13px;*/
	    /*padding-top: 3px;*/
	}
	.banner {
	    min-height: 200px;
	}
	.hvr-bounce-to-right {
	    padding: 8px 8px;
	    font-size: 10px;
	}
	.about {
	    padding: 2em 0 1em;
	}
	.head-section h2 {
	    font-size: 1.5em;
	}
	.head-section span {
	    width: 33%;
	    height: 3px;
	}
	.about-left-grid {
	    padding: 0;
	}
	.about-left-grid h3 {
	    font-size: 1.2em;
	}
	.about-left-grid span {
	    font-size: .9em;
	}
	.about-left-grid p {
	    font-size: .875em;
	    margin-top: .5em;
	}
	.about-right-grid {
	    padding: 0;
	}
	.bottom-grid-left {
	    padding: 0;
	}
	.bottom-grid {
	    padding: 0;
	}
	.year {
	    width: 20%;
	}
	.year {
		 width: 20%;
		     padding: .8em 0;
	}
	.qualification h4 {
	        margin-top: 13px;
	    font-size: 1em;
	}
	.bottom-grid-right {
	    padding: 0;
	}
	.bottom-grid h3 {
	    font-size: 1.5em;
	}
	.skills-info h3 {
	    font-size: 1.5em;
	}
	.skills-info span {
	    width: 22%;
	    height: 3px;
	    margin: 0 auto 1em;
	}
	.galry-grids {
	    padding: 2px;
	    width: 50%;
	    float: left;
	}
	.contact-info h3 {
	    font-size: 1.5em;
	}
	.qualification p {
	    font-size: .875em;
	}
	.portfolio h3 {
	    font-size: 1.5em;
	}
	/*.skills {
	    margin: 3em 0 0em;
	}*/
	.contact-left {
	    padding: 0;
	}
	.stripb {
	    margin: 0 0 18px 0;
	}
	.contact-grids h3 {
	    margin: 0 0 11px 0;
	}
	.contact-right {
	    padding: 0;
	}
	.contact-right input[type="text"] {
	    margin: 0 5px 11px 0;
	        width: 100%;
	}
	.contact-right input[type="email"] {
	    margin: 0 5px 11px 0;
	        width: 100%;
	}
	.portfolio span {
	    width: 15%;
	    margin: -5px auto 1.3em;
	}
	.copy p {
	    font-size: .8em;
	}
	.navbar-nav > li {
	    text-align: center;
	}
	.galry-grids.moments-bottom:nth-child(9) {
	    display: none;
	}
	.contact {
	    padding: 34px 0 0 0;
	}
	.contact {
	    margin-bottom: 2em;
	}
	.contact-left ul li {
	    font-size: 15px;
	}
	.copy {
	    padding: 1em 0;
	}
}

#contact-container {
  /* width: 1080px; */
}

.header {
    max-width: 910px;
    padding: 0 0 .2em 0;
}

html, body {
  overflow-x: hidden;
}
