@media screen and (max-width: 665px) {
  #banner_container {
    display: flex;
    flex-direction: column;
  }
  #headshot {
    width: 260px;
    height: 430px;
    margin: auto;
    padding: 20px 0px;
  }
  .banner-text {
    margin-top: 0px;
    margin: auto;
    text-align: center;
  }
  #title_display {
    text-align: center;
    font-size: larger;
    font-weight: inherit;
  }
  #resume-button {

  }
  #button-wrapper {
    text-align: center;
  }
  #navbar-list {
    display: flex;
    flex-direction: row;
  }
  .navigation {
    float: none;
  }
}

#resume-button {
  margin-bottom: 20px !important;
}
