.home-wide-section {
  background-color: #89043D;
}

.about-wide-section {
  background-color: #B2ABF2;
}

.skills-wide-section {
  background-color: #2FE6DE;
}

.portfolio-wide-section {
  background-color: #1C3041;
}

.contact-wide-section {
  background-color: #18F2B2;
}
