.section.home {
    background-color: #1A8FE3;
  }
  
  .section.about {
    background-color: #6610F2;
  }
  
  .section.skills {
    background-color: #D11149;
  }
  
  .section.portfolio {
    background-color: #F17105;
  }
  
  .section.contact {
    background-color: #E6C229;
  }